/*
* Variables declaradas
*/
$base-color: #e9ecef;
$color_base: #1575c449;


.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}


#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  .title-content {
    font-size: 18px !important; 
  }

}
 
.title-content {
  font-size: 25px;
  background-color: $base-color !important;
}

label {
  display: inline-block;
  margin-bottom: 0.0rem;
  font-size: 12px;
}
.rounded{
  border-radius: 15px !important;
}